#progressBar{
  display: block !important;
  margin-left: 18px;
  margin-top: 22px;
  width: 213px;
  height: 16px;
  float: left;
}
#progressBar{
  display: block !important;
  margin-left: 18px;
  margin-top: 22px;
  width: 213px;
  height: 16px;
  float: left;
}
