.cont-slider {
  position: relative;
  width: 540px;
  margin-top: 24px;
  margin-left: 79px;
  .img {
    position: relative;
    width: 120px;
    height: 120px;
    border: 1px solid $bordGray;
    img {
      height: 120px;
      width: 100px;
    }
  }

  .owl-nav {
    display: inline-block;
    .owl-prev, .owl-next {
      font-size: 0;
      width: 22px;
      height: 22px;
      position: absolute;
      top: 28px;
    }
    .owl-prev {
      left: -32px;
      background-image: url("/img/prev.png");
      background-repeat: no-repeat;
    }
    .owl-next {
      right: -30px;
      background-image: url("/img/next.png");
      background-repeat: no-repeat;
    }
  }
}