.cont-slider {
  position: relative;
  max-width: 948px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 30px;
  .img {
    position: relative;
    width: 120px;
    height: 180px;
    margin: 0 auto;
    img {
      height: 140px;
      width: 120px;
      border: 1px solid $bordGray;
    }
    p {
      text-align: center;
      font-family: $source-light;
      color: $fcBlue;
      font-size: $title;
      text-transform: uppercase;
      margin-top: 10px;
    }
  }

  .owl-nav {
    display: inline-block;
    .owl-prev, .owl-next {
      font-size: 0;
      width: 22px;
      height: 22px;
      position: absolute;
      top: 66px;
    }
    .owl-prev {
      left: -1px;
      background-image: url("/img/prev.png");
      background-repeat: no-repeat;
    }
    .owl-next {
      right: -1px;
      background-image: url("/img/next.png");
      background-repeat: no-repeat;
    }
  }
}