.buttons {
  text-align: center;

  button {
    height: 31px;
    width: 86px;
    margin: 0 10px;
    font-family: $source-light;
    color: $white;
    font-size: $title;
    text-transform: uppercase;
    background: -moz-linear-gradient(0deg, #00608B 0, #6EEAF4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, 0deg, color-stop(0, 00608 B), color-stop(100%, 6 EEAF4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(0deg, #00608B 0, #6EEAF4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(0deg, #00608B 0, #6EEAF4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(0deg, #00608B 0, #6EEAF4 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1'); /* for IE */
    background: linear-gradient(0deg, #00608B 0, #6EEAF4 100%); /* W3C */
    border: none;
    border-radius: 3px;
    &:hover {
      background: -moz-linear-gradient(0deg, #326D8B 0, #B7EEF4 100%);/* FF3.6+ */
      background: -webkit-gradient(linear, 0deg, color-stop(0, 326D8B), color-stop(100%, B7EEF4));/* Chrome,Safari4+ */
      background: -webkit-linear-gradient(0deg, #326D8B 0, #B7EEF4 100%);/* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(0deg, #326D8B 0, #B7EEF4 100%);/* Opera 11.10+ */
      background: -ms-linear-gradient(0deg, #326D8B 0, #B7EEF4 100%);/* IE10+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1'); /* for IE */
      background: linear-gradient(0deg, #326D8B 0, #B7EEF4 100%);/* W3C */
      outline: none;
    }
    &:active {
      background: -moz-linear-gradient(0deg, #13238B 0, #20A6F4 100%);/* FF3.6+ */
      background: -webkit-gradient(linear, 0deg, color-stop(0, 13238B), color-stop(100%, 20A6F4));/* Chrome,Safari4+ */
      background: -webkit-linear-gradient(0deg, #13238B 0, #20A6F4 100%);/* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(0deg, #13238B 0, #20A6F4 100%);/* Opera 11.10+ */
      background: -ms-linear-gradient(0deg, #13238B 0, #20A6F4 100%);/* IE10+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1'); /* for IE */
      background: linear-gradient(0deg, #13238B 0, #20A6F4 100%);/* W3C */
      outline: none;
    }
    &:focus {
      outline: none;
    }
  }
}