.copyright {
  text-align: center;
  margin-top: 4px;
  border-top: 1px solid $white-l;
  p {
    color: $bordGray;
    font-family: $source-light;
    font-size: $medium-l;
    margin-top: 10px;
  }
}